body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav-link {
    border-radius: 10px;
}

:root {
    --color-pink: 255, 102, 196;
    --color-yellow: 255, 242, 0;
    --color-green: 126, 217, 87;
    --color-blue: 82, 113, 255;

    --color-force-rose: 255, 102, 196;
    --color-force-jaune: 255, 242, 0;
    --color-force-bleue: 82, 113, 255;
    --color-force-turquoise: 0, 255, 255;
    --color-force-verte: 126, 217, 87;
    --color-force-orange: 255, 153, 0;
    --color-force-rouge: 255, 0, 0;
    --color-force-violette: 153, 0, 255;
}

.nav-link.active[href='#accueil'] {
    background-color: rgb(var(--color-pink), 0.5);
}

.nav-link.active[href='#presentation'] {
    background-color: rgb(var(--color-yellow), 0.5);
}

.nav-link.active[href='#membres'] {
    background-color: rgb(var(--color-green), 0.5);
}

.nav-link.active[href='#concerts'] {
    background-color: rgb(var(--color-blue), 0.5);
}

.nav-link.active[href='#videos'] {
    background-color: rgb(var(--color-pink), 0.5);
}

.nav-link.active[href='#presse'] {
    background-color: rgb(var(--color-yellow), 0.5);
}

.nav-link.active[href='#contact'] {
    background-color: rgb(var(--color-green), 0.5);
}

#accueil {
    background-color: rgba(var(--color-pink), 0.3);
    background-image: url('../images/background-web.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;
    position: relative; /* Needed to position the pseudo-element */
    overflow: hidden; /* Ensures the pseudo-element is contained within the container */
}

/* Add media queries to switch background properties for smaller screens */
@media (max-width: 1280px) {
    #accueil {
        background-size: contain; /* This will ensure the whole image is visible */
        background-color: black;  /* Ensure the background color is black */
        background-position: bottom center; /* Anchor the image at the bottom */
    }
}


#presentation {
    background-color: rgba(var(--color-yellow), 0.3);
}

#membres {
    background-color: rgba(var(--color-green), 0.3);
}

#concerts {
    background-color: rgba(var(--color-blue), 0.3);
}

#videos {
    background-color: rgba(var(--color-pink), 0.3);
}

#presse {
    background-color: rgba(var(--color-yellow), 0.3);
}

#contact {
    background-color: rgba(var(--color-green), 0.3);
}

.logo {
    /*border: 5px solid #fff;*/
    /* Add a fancy border around the logo */
    max-width: 100%;
    max-height: 90vh;
    height: auto;
    width: auto;
    border: solid black 3px;
    border-radius: 50px;
}

img.apropos {
    max-height: 90vh;
    max-width: 100%;
    height: auto;
    width: auto;
    border: solid black 5px;
    border-radius: 20px;
    padding: 5px;
    background-color: #fff;
}

img.presse {
    max-width: 600px;
    max-height: 90vh;
    height: auto;
    width: 100%;
    border: solid black 2px !important;
    border-radius: 20px;
    padding: 5px;
    background-color: #fff;
}

.imagepreview {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.pop:hover {
    cursor: zoom-in;
    opacity: 0.7;
}

#imagemodal h5 {
    width: auto;
    max-width: auto;
    background-color: #fff;
    text-align: center;
    border-top: 2px solid black;
}

.title {
    font-family: 'Bangers', cursive;
    /* Apply the "Bangers" font to the title */
    font-size: 2.5rem;
    /*color: #fff;*/
    margin-bottom: 10px;
}



.subtitle {
    position: relative;
    font-family: 'Bangers', cursive;
    font-size: 3.5rem !important;
    color: #ddd;
    text-shadow: 2px 2px 4px #555;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 50px; /* Adjusted padding for better size */
    border-radius: 30px; /* Rounded corners for softer borders */
    display: inline-block; /* Ensure the width is only as large as needed */
    text-align: center; /* Center the text */
    margin: 10px auto; /* Center the subtitle horizontally */
    z-index: 2; /* Ensure the subtitle is on top of the shadow */
}

.subtitle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px; /* Match the border radius of the box */
    box-shadow: 15px 15px 30px rgba(255, 255, 255, 0.65); /* Larger, more blurred, southeast shadow */
    z-index: -1; /* Ensure the shadow is underneath the box */
    background: transparent; /* Ensure the shadow is invisible */
}

/* Section Styles */
.section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    /*color: #fff;*/
    /* Section heading text color */
}

/* Footer Styles */
footer {
    padding: 20px 0;
}

a.social-icon {
    font-size: 1.5rem;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease !important;
    color: rgba(0, 0, 0, .5)
}

a.social-icon:hover {
    color: #ff66c4 !important;
    /* Hover color for social media icons */
}

ul.social-icon li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}

@media (min-width: 992px) {
    ul.social-icon li {
      flex-direction: row !important;
      /*display: none !important;*/
    }
  }


/* CSS for Copyright Text in the Footer */
.copyright-text {
    font-size: 0.9rem;
    /* Adjust font size as needed */
    margin: 10px 0;
}

.copyright-text a {
    color: #fff;
    /* Link color */
    text-decoration: none;
}

.copyright-text a:hover {
    text-decoration: underline;
    /* Underline on hover */
}

/* CSS for the video container */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio (adjust as needed) */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#presentation p {
    font-size: 25px;
}

.thumbnail {
    display: block;
    padding: 0 0 15px 0;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.thumbnail img {
    border: solid 1px black;
    border-radius: 0;
    border-radius: 10px 10px 0 0;
    max-width: 100%;
    height: auto;
}

.thumbnail p {
    margin-top: 15px !important;
    color: #555;
    font-style: italic;
    margin: 0 0 10px;
}

.thumbnail p span {
    font-style: normal;
}


.fa-disabled {
    font-size: 1.5rem;
    margin: 0 10px;
    opacity: 0.6;
    cursor: not-allowed;
    color: rgba(0, 0, 0, .5);
}

.is-passed {
    position: relative;
    top:0;
    left:0;
}

.is-passed img, .to-come img {
    width: 400px;
    height: 300px;
}

.is-passed img {
    filter:saturate(0%) sepia(100%) contrast(150%) saturate(150%) grayscale(60%)
}

.is-passed span {
    transform: rotate(12deg);
    color: #555;
    font-size: 3rem;
    font-weight: 700;
    border: 0.25rem solid #555;
    display: inline-block;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    border-radius: 1rem;
    font-family: 'Courier';
    -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
    /*-webkit-mask-image: url('../images/grunge.png');*/
    -webkit-mask-size: 944px 604px;
    /*mix-blend-mode: multiply;*/
	color: #db0808;
	border: 0.5rem solid #db0808;
	-webkit-mask-position: 13rem 6rem;
	transform: rotate(-14deg);
    border-radius: 0;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    position: absolute;
    top:100px;
    left:0;
    width:400px;
    max-width:100%
}