body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav-link {
    border-radius: 10px;
}

:root {
    --color-pink: 255, 102, 196;
    --color-yellow: 255, 242, 0;
    --color-green: 126, 217, 87;
    --color-blue: 82, 113, 255;
}

.nav-link.active[href='#accueil'] { background-color:rgb(var(--color-pink), 0.5); }
.nav-link.active[href='#presentation'] { background-color:rgb(var(--color-yellow), 0.5); }
.nav-link.active[href='#chanteurs'] { background-color:rgb(var(--color-green), 0.5); }
.nav-link.active[href='#concerts'] { background-color:rgb(var(--color-blue), 0.5); }
.nav-link.active[href='#videos'] { background-color:rgb(var(--color-pink), 0.5); }
.nav-link.active[href='#contact'] { background-color:rgb(var(--color-yellow), 0.5); }

#accueil {background-color: rgba(var(--color-pink), 0.3);}
#presentation {background-color: rgba(var(--color-yellow), 0.3);}
#chanteurs {background-color: rgba(var(--color-green), 0.3);}
#concerts {background-color: rgba(var(--color-blue), 0.3);}
#videos {background-color: rgba(var(--color-pink), 0.3);}
#contact {background-color: rgba(var(--color-yellow), 0.3);}

.logo {
    /*border: 5px solid #fff;*/ /* Add a fancy border around the logo */
    max-width: 100%;
    height: auto;
}

.title {
    font-family: 'Bangers', cursive; /* Apply the "Bangers" font to the title */
    font-size: 2.5rem;
    /*color: #fff;*/
    margin-bottom: 10px;
}

.subtitle {
    font-family: 'Bangers', cursive; /* Apply the "Bangers" font to the subtitle */
    font-size: 3.5rem;
    /*color: #fff;*/
    padding-top: 35px;
    vertical-align: middle;
}

/* Section Styles */
.section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    /*color: #fff;*/ /* Section heading text color */
}

/* Footer Styles */
footer {
    padding: 20px 0;
}

.social-icon {
    font-size: 1.5rem;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease !important;
    color: rgba(0,0,0,.5)
}

.social-icon:hover {
    color: #ff66c4 !important; /* Hover color for social media icons */
}

/* CSS for Legal Notice Modal */
.modal-content {
    background-color: #fff; /* Background color for the modal */
    border-radius: 0; /* Remove modal border-radius for a cleaner look */
}

.modal-title {
    font-size: 1.5rem; /* Adjust modal title font size */
}

.modal-body {
    font-size: 1rem; /* Adjust font size for the legal notice content */
    padding: 20px;
    overflow-y: auto; /* Add a scrollbar if the content overflows */
    max-height: 500px; /* Set a max height for the modal content */
}

.modal-footer {
    border-top: none; /* Remove the border at the top of the modal footer */
}

/* Styling for the "Fermer" button in the modal */
.modal-footer .btn-secondary {
    background-color: #ff66c4; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 0; /* Remove button border-radius */
}

/* Hover effect for the "Fermer" button */
.modal-footer .btn-secondary:hover {
    background-color: #ff3399; /* Button background color on hover */
}

/* Optional: Add some padding to the legal notice content for better readability */
.modal-body p {
    margin-bottom: 10px;
}

/* CSS for Copyright Text in the Footer */
.copyright-text {
    font-size: 0.9rem; /* Adjust font size as needed */
    margin: 10px 0;
}

.copyright-text a {
    color: #fff; /* Link color */
    text-decoration: none;
}

.copyright-text a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* CSS for the video container */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (adjust as needed) */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
