body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav-link {
    border-radius: 10px;
}

:root {
    --color-pink: 255, 102, 196;
    --color-yellow: 255, 242, 0;
    --color-green: 126, 217, 87;
    --color-blue: 82, 113, 255;
}

.nav-link.active[href='#accueil'] {
    background-color: rgb(var(--color-pink), 0.5);
}

.nav-link.active[href='#presentation'] {
    background-color: rgb(var(--color-yellow), 0.5);
}

.nav-link.active[href='#chanteurs'] {
    background-color: rgb(var(--color-green), 0.5);
}

.nav-link.active[href='#concerts'] {
    background-color: rgb(var(--color-blue), 0.5);
}

.nav-link.active[href='#videos'] {
    background-color: rgb(var(--color-pink), 0.5);
}

.nav-link.active[href='#presse'] {
    background-color: rgb(var(--color-yellow), 0.5);
}

.nav-link.active[href='#contact'] {
    background-color: rgb(var(--color-green), 0.5);
}

#accueil {
    background-color: rgba(var(--color-pink), 0.3);
}

#presentation {
    background-color: rgba(var(--color-yellow), 0.3);
}

#chanteurs {
    background-color: rgba(var(--color-green), 0.3);
}

#concerts {
    background-color: rgba(var(--color-blue), 0.3);
}

#videos {
    background-color: rgba(var(--color-pink), 0.3);
}

#presse {
    background-color: rgba(var(--color-yellow), 0.3);
}

#contact {
    background-color: rgba(var(--color-green), 0.3);
}

.logo {
    /*border: 5px solid #fff;*/
    /* Add a fancy border around the logo */
    max-width: 100%;
    max-height: 90vh;
    height: auto;
    width: auto;
    border: solid black 3px;
    border-radius: 50px;
}

img.apropos {
    max-height: 90vh;
    max-width: 100%;
    height: auto;
    width: auto;
    border: solid black 5px;
    border-radius: 20px;
    padding: 5px;
    background-color: #fff;
}

img.presse {
    max-width: 600px;
    max-height: 90vh;
    height: auto;
    width: 100%;
    border: solid black 2px !important;
    border-radius: 20px;
    padding: 5px;
    background-color: #fff;
}

.imagepreview {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.pop:hover {
    cursor: zoom-in;
    opacity: 0.7;
}

#imagemodal h5 {
    width: auto;
    max-width: auto;
    background-color: #fff;
    text-align: center;
    border-top: 2px solid black;
}

.title {
    font-family: 'Bangers', cursive;
    /* Apply the "Bangers" font to the title */
    font-size: 2.5rem;
    /*color: #fff;*/
    margin-bottom: 10px;
}

.subtitle {
    font-family: 'Bangers', cursive;
    /* Apply the "Bangers" font to the subtitle */
    font-size: 3.5rem;
    /*color: #fff;*/
    padding-top: 35px;
    vertical-align: middle;
}

/* Section Styles */
.section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    /*color: #fff;*/
    /* Section heading text color */
}

/* Footer Styles */
footer {
    padding: 20px 0;
}

.social-icon {
    font-size: 1.5rem;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease !important;
    color: rgba(0, 0, 0, .5)
}

.social-icon:hover {
    color: #ff66c4 !important;
    /* Hover color for social media icons */
}


/* CSS for Copyright Text in the Footer */
.copyright-text {
    font-size: 0.9rem;
    /* Adjust font size as needed */
    margin: 10px 0;
}

.copyright-text a {
    color: #fff;
    /* Link color */
    text-decoration: none;
}

.copyright-text a:hover {
    text-decoration: underline;
    /* Underline on hover */
}

/* CSS for the video container */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio (adjust as needed) */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#presentation p {
    font-size: 25px;
}

.thumbnail {
    display: block;
    padding: 0 0 15px 0;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.thumbnail img {
    border: solid 1px black;
    border-radius: 0;
    border-radius: 10px 10px 0 0;
    max-width: 100%;
    height: auto;
}

.thumbnail p {
    margin-top: 15px !important;
    color: #555;
    font-style: italic;
    margin: 0 0 10px;
}

.thumbnail p span {
    font-style: normal;
}


.fa-disabled {
    font-size: 1.5rem;
    margin: 0 10px;
    opacity: 0.6;
    cursor: not-allowed;
    color: rgba(0, 0, 0, .5);
}

.is-passed {
    position: relative;
    top:0;
    left:0;
}

.is-passed img, .to-come img {
    width: 400px;
    height: 300px;
}

.is-passed span {
    transform: rotate(12deg);
    color: #555;
    font-size: 3rem;
    font-weight: 700;
    border: 0.25rem solid #555;
    display: inline-block;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    border-radius: 1rem;
    font-family: 'Courier';
    -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
    /*-webkit-mask-image: url('../images/grunge.png');*/
    -webkit-mask-size: 944px 604px;
    /*mix-blend-mode: multiply;*/
	color: #db0808;
	border: 0.5rem solid #db0808;
	-webkit-mask-position: 13rem 6rem;
	transform: rotate(-14deg);
    border-radius: 0;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    position: absolute;
    top:100px;
    left:0;
    width:400px;
    max-width:100%
}

.custom-tooltip::before {
    text-decoration: underline;
    padding: 10px;
    font-weight:600;
    background-color: black;
    color: white;
}

.custom-tooltip-film::before  { content: "Dernier film ou série vu(e)";}
.custom-tooltip-anime::before  {content: "(dessin) animé préféré";}
.custom-tooltip-game::before  {content: "Jeu vidéo favori";}
.custom-tooltip-hero::before  {content: "Héro(ine) de mon enfance";}
.custom-tooltip-superpower::before  {content: "Super-povoir rêvé";}